@use 'variables';

@mixin vertical_align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin small_scrollbar {
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: variables.$background_secondary;
  }
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: variables.$scrollbar;
  }
}

@mixin text_ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin _table($pixel) {
  :global .ant-table-container {
    .ant-table-header .ant-table-thead .ant-table-cell {
      background: variables.$background_secondary;

      .ant-table-selection
        .ant-checkbox-wrapper
        .ant-checkbox
        .ant-checkbox-inner::after {
        background-color: unset !important;
      }
    }

    .ant-table-body {
      overflow: auto !important;
      max-height: calc(100vh - $pixel) !important;
      height: calc(100vh - $pixel) !important;
      @include small_scrollbar;
    }
  }

  :global .ant-pagination {
    position: absolute;
    right: 0;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@mixin select_options {
  .wrapperSelect {
    display: flex;
    align-items: center;
    > span {
      padding-right: 1em;
      width: max-content;
    }

    .select {
      width: 200px;
    }
  }
}

@mixin bg_red {
  background-color: red;
}

@mixin bg_green {
  background-color: green;
}
